<div class="ui menu">
  <div class="header item">
    Weather Dashboard
  </div>
  <!-- <a class="item">
    About Us
  </a>
  <a class="item">
    Jobs
  </a>
  <a class="item">
    Locations
  </a> -->
</div>

<div class="ui container">

  <div class="ui text container">
    <h1>
      Weather of Citys Sonora Mexico.
    </h1>
  </div>

  <div class="ui vertical stripe segment">

    <div class="container" style="margin-top:30px">
      <div class="row">
        <div class="col-sm-4">
          <h2>Navojoa, Nogales, Hermosillo, Sonora...</h2>
          <p>48% of the state has dry and semi-dry climate located in the Sierra Madre Occidental, 46.5% has a very dry climate,
            located in the Coastal Plains of the Gulf and Sonoran, 4% is temperate subhumid is located east of the state
            and the rest 1.5 % presents the subhumid warm climate located towards the southeast.
          </p>

        </div>


        <div class="col-sm-8">

          <h2>WEATHER OF CITYS SONORA MEXICO</h2>

          <h5>Whearther.</h5>
          <p>The terrestrial observations are of vital importance for the decision making on the prevention of risks, under this logic, the Autonomous University of Mexico has created a laboratory that allows to monitor the land and generate studies for the benefit of all.</p>
          <br>
          <app-linea></app-linea>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
    </div>
  </div>
</div>
<div class="jumbotron text-center" style="margin-bottom:0">

</div>